<!doctype html>
<html lang="en">
<head>
 <% include ../views/head %>
	
</head>
<body class="centerMargin">

	<header>
        <% include ../views/header %>
    </header>
	
	<h1><%= title %><h1>


	<form action="/addListing" method="post">
	
	<div class="row">
	<div class="col-md-3">
	 
		<div class="input-group forms">
			<span class="input-group-addon" id="basic-addon1">Price:</span>
			<input type="text" name="price" class="form-control" placeholder="price" aria-describedby="basic-addon1">
		</div>
	</div>
	</div>
		
	<div class="row">
	<div class="col-md-3">
	
		<div class="input-group forms">
			<span class="input-group-addon" id="basic-addon1">Condition:</span>
			<input type="text" name="condition" class="form-control" placeholder="condition" aria-describedby="basic-addon1">
		</div>
		
	</div>
	</div>
	
	<div class="row">
	<div class="col-md-3">
		
		<div class="input-group forms">
			<span class="input-group-addon" id="basic-addon1">ISBN:</span>
			<input type="text" name="isbn" class="form-control" placeholder="ISBN" aria-describedby="basic-addon1">
		</div>
		
	</div>
	</div>
		
		<div class="forms">
		<button type="submit" class="btn btn-default">submit</button>
		</div>
		
	</form>
	
	 <footer>
        <% include ../views/footer %>
    </footer>
	
</body>
</html>
