
<meta charset="UTF-8">
<title>TTU Book Exchange</title>

<link rel="stylesheet" href="bootstrap\dist\css\bootstrap.css">
<link rel="stylesheet" type="text/css" href="css\TTUExchange.css" />

<script src="jquery\dist\jquery.js"></script>
<script src="bootstrap\dist\js\bootstrap.js"></script>