
<!doctype html>
<html lang="en">
<head>
 <% include ../views/head %>

</head>
<body>

	<header>
        <% include ../views/header %>
    </header>



 <!--Home page  -->
 <center>
  <h1>What are you trying to do today ?<h1>
</center>
<a href="/search?page=1">
 <img src="images/book.png" alt="book" style="width:304px;height:228px;" align="left" >
</a>
<a href="/addListing">
<img src="images/money.png" alt="money" style="width:304px;height:228px;" align="right">
</a>
	<footer>
        <% include ../views/footer %>
    </footer>

</body>
</html>
