<!doctype html>
<html lang="en">
<head>
 <% include ..\views\head %>
	
</head>
<body>

	<header>
        <% include ..\views\header %>
    </header>
	
	<h1><%= title %><h1>
	
	<!-- Home page  -->

	 <footer>
        <% include ..\views\footer %>
    </footer>
	
</body>
</html>
